body {
    -webkit-font-smoothing: antialiased;
  }
  

#back-top {
    position: fixed;
    bottom: 10%;
    left: 10%;
    color:chartreuse;
    z-index: 1000;
    display: none;
    cursor: pointer;
  }
  
  .fly {
    position: absolute;
    animation: launch ease-out 4s infinite;
    -webkit-animation: launch ease-out 4s infinite
  }
  
  @-webkit-keyframes launch {
  }
  @keyframes launch {
    70% {
      transform: translateY(-800px) translateX(800px);
    }
  }
  @media (min-width: 100%) {
    .content {
      width: 100%
    }
  }
